.modal-layer{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width:60vh;
	height:60vh;
	right:50%;
	top:50%;
	border-radius: 10px;
	background: rgba(255,255,255,0.5);
	transform: translate(50%,-50%);
	z-index: 1000;
	animation: zoomIn 0.5s ease;
}

.modal-cross{
	position: fixed;
	right:0;
	top:0;
	cursor: pointer;
	color:#050;
	margin-top: 10px;
	margin-right: 10px;
}

.inner-modal-layer{
	position:relative;
}