.class-selector{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.class-selector__classes{
	display: flex;
	justify-content: center;
}
.class-selector__description{
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: justify;
	background: rgba(40,40,40,0.1);
	border-radius: 20px;
}

.description{
	color: #FFF;
	text-shadow: 2px 2px 0 #000000, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

.heroes{
	margin: 10px;
	background: transparent;
	border: none;
	transition: all 0.5s ease;
}

.heroes:hover{
	transform: scale(0.8);
	cursor: pointer;
}

.heroes_selected{
	margin:20px;
	transition: all 0.5s ease;
	outline: 0;
	transform: scale(1.5);
	cursor: pointer;
	border-radius: 50%;
	background: #636;
	border: 4px solid #000;
}