.statistics{
	position: relative;
	display: flex;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-around;
	width: 100%;
	background: rgba(255,255,255,0.4);
}


.statistic-item{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.statistics > li{
	position: relative;
	width:100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}



.statistics img:hover{
	cursor: pointer;
	animation: shake 2s linear;
}

.statistics p{
	color: #000;
	font-size: 2.0em;
}
